
@import "/src/avatars/common/mini-reset.css";

.container{

  width: 396px;
  height: 195px;
  padding: 20px;
  background:gray;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

  



}





















